.blur{height:100%;width:100%;position:fixed;left:0;background-image:url('save.jpg');position:absolute;background-size:100% 100%;filter:blur(4px);left:0;top:0;z-index:-1;}
.panel{height:20%;background: rgba(255, 255, 255, 0.5);vertical-align: middle;padding:0 10 10 10;}
.flex{display:flex;}
.img{height:100%;width:10%;}
a{text-decoration: none;color: rgb(21, 0, 141);align-self: baseline;}
a:visited{text-decoration: none;color: rgb(21, 0, 141)}  
a:hover{text-decoration: underline;color: rgb(255, 0, 212)}  
a:active {text-decoration: underline;color: rgb(255, 0, 0)}
.but{width:7%;height:30%;border-radius:20px;margin-bottom: auto;margin-top:50px;color: rgb(255, 255, 255);}
p{font-size:20px;text-shadow:2px 2px 5px;}
h1{font-weight:10px;text-shadow:2px 2px 5px;}
h5{font-weight:10px;text-shadow:0px 0px 5px white;}
.but{width:20%;height:30%;border-radius:20px;margin-bottom: auto;margin-top:50px;color: rgb(255, 255, 255);background-color:rgb(30, 0, 165);}
button:hover{color:rgb(151, 0, 131);background-color:rgb(0, 238, 255);text-shadow:rgb(238, 255, 0) 0px 0px 2px;}
.white{font-weight:10px;text-shadow:0px 0px 5px rgb(161, 158, 158);color:rgb(13, 0, 34);}